<div class="input-group">
  <label for="{{toLower label}}">{{label}}</label>

  <input
    name="{{toLower label}}"
    type="{{withInput inputType}}"
    placeholder="Enter {{toLower label}}"
    value=""
  />
</div>