<div class="input-group">
  <label for="{{toLower label}}">{{label}}</label>

  <textarea
    name="{{toLower label}}"
    id="{{toLower label}}"
    cols="30"
    rows="10"
    placeholder="Enter {{toLower label}}"
    value=""
  ></textarea>
</div>